.browsers-section {
  padding: 3rem 2rem;
  overflow: hidden;
  position: relative;
  transition: background 0.3s ease;
}

.title-browser{
  margin-bottom: 2em;
  font-size: clamp(1.75rem, 4vw, var(--font-size-h2));
}

.browser-icons {
  
  display: flex;
  gap: 3rem;
  animation: scroll-browser 10s linear infinite;
  position: relative;
  transition: transform 0.3s ease;
}

/* Ícones individuais */
.browser-icon {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 1rem;
  background: var(--color-background-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

.browser-icon img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  filter: var(--icon-filter, none);
}

.browser-icon:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Animação de rolagem infinita */
@keyframes scroll-browser {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

html[dark] .browser-icon {
  background: var(--color-background-light);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
}

html[dark] .browser-icon:hover {
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.1);
}
